<h2>Binary Outcome</h2>
<div class="col-md-6 col-md-push-6">
    <h3>Things to enter</h3>
    <ul>
        <li><strong>One-sided significance level:</strong> The probability of choosing the alternative hypothesis when the null hypothesis is true (bad decision)</li>
        <li><strong>Target power:</strong> The probability of choosing the alternative hypothesis when the alternative hypothesis is true (good decision)</li>
        <li><strong>Allocation ratio</strong> (number of subjects in experimental group)/(number of subjects in control group)</li>
        <li><strong>Assumed event rate in experimental group</strong></li>
        <li><strong>Assumed event rate in control group</strong></li>
        <li><strong>Non-inferiority margin:</strong> "the largest difference that is clinically acceptable"</li>
    </ul>
    <h3>Reference</h3>
    <p>M. D. Rothmann, B. L. Wiens, and I. S. F. Chan, Design and Analysis of Non-Inferiority Trials. CRC Press, 2008, p. 268-271</p>
</div>
<div class="col-md-6 col-md-pull-6">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="significance-level" class="col-sm-9 control-label">Significance level (one-sided)</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="values.significanceLevel">
                    <option value="0.1">0.1</option>
                    <option value="0.05">0.05</option>
                    <option value="0.025" selected>0.025</option>
                    <option value="0.005">0.005</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="power" class="col-sm-9 control-label">Power</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="values.power">
                    <option value="0.8">0.8</option>
                    <option value="0.85">0.85</option>
                    <option value="0.9" selected>0.9</option>
                    <option value="0.95">0.95</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Ratio of allocation</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.allocationRatio">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Assumed event rate in experimental group</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.eventRateExperimentalGroup">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Assumed event rate in control group</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.eventRateControlGroup">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Non-inferiority margin</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.niMargin">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <button type="submit" class="btn btn-default btn-block" ng-click="calculate(values)">Calculate</button>
            </div>
        </div>
    </form>
    <div class="well" ng-show="controlGroupSampleSize">
        <p class="text-success">
            <strong>Sample size of control group: {{controlGroupSampleSize | number:0}}</strong>
        </p>
        <p class="text-success">
            <strong>Sample size of experimental group: {{experimentalGroupSampleSize | number:0}}</strong>
        </p>
    </div>
</div>
