<h2>Binary Outcome</h2>
<div class="col-md-6">
    <h3>Things to enter</h3>
    <ul>
        <li><strong>One-sided significance level:</strong> The probability of choosing the alternative hypothesis when the null hypothesis is true (bad decision)</li>
        <li><strong>Target power:</strong> The probability of choosing the alternative hypothesis when the alternative hypothesis is true (good decision)</li>
        <li><strong>Allocation ratio</strong> (number of subjects in experimental group)/(number of subjects in control group)</li>
        <li><strong>Assumed event rate in experimental group</strong></li>
        <li><strong>Assumed event rate in control group</strong></li>
        <li><strong>Non-inferiority margin:</strong> "the largest difference that is clinically acceptable"</li>
    </ul>
    <h3>Reference</h3>
    <p>M. D. Rothmann, B. L. Wiens, and I. S. F. Chan, Design and Analysis of Non-Inferiority Trials. CRC Press, 2008, p. 268-271</p>
</div>
<div class="col-md-6">
</div>
