<h2>Non-Inferiority Trials</h2>
<blockquote>
    <p>Failing to reject the null hypothesis is not sufficient to say two treatments are identical.</p>
    <footer>Blackwelder, W. C. (1982). "Proving the null hypothesis in clinical trials."</footer>
</blockquote>
<h3>General Hypotheses</h3>
<ul class="list-unstyled">
    <li><strong>H<sub>0</sub>:</strong> "The experimental treatment is inferior to the control treatment by more than some pre-determined margin."</li>
    <li><strong>H<sub>a</sub>:</strong> "The experimental treatment is either better than the control treatment or the experimental treatment is inferior to the control treatment by less than some pre-determined margin."</li>
</ul>
