<h2>Non-Inferiority Trials</h2>
<ul>
    <li>Blackwelder, W. C. (1982). "Proving the null hypothesis" in clinical trials. Controlled clinical trials, 3(4), 345-353. "Failing to reject the null hypothesis is not sufficient to say two treatments are identical"</li>
    <li>H<sub>o</sub>: “The experimental treatment is inferior to the control treatment by more than some pre-determined margin."</li>
    <li>H<sub>a</sub>: "The experimental treatment is either better than the control treatment or the experimental treatment is inferior to the control treatment by less than some pre-determined margin."</li>
</ul>
