<h2>Non-Inferiority Trials</h2>
<blockquote>
    <p>Failing to reject the null hypothesis is not sufficient to say two treatments are identical.</p>
    <footer>Blackwelder, W. C. (1982). "Proving the null hypothesis in clinical trials."</footer>
</blockquote>
<h3>General Hypotheses</h3>
<blockquote>
    <p><strong>H<sub>0</sub>:</strong> The experimental treatment is inferior to the standard treatment by more than a pre-determined margin.</p>
    <p><strong>H<sub>a</sub>:</strong> The experimental treatment is either better than the standard treatment or the experimental treatment is inferior to the standard treatment by less than a pre-determined margin.</p>
    <footer>M. D. Rothmann, B. L. Wiens, and I. S. F. Chan, Design and Analysis of Non-Inferiority Trials. CRC Press, 2008, p. 480</footer>
</blockquote>
