<h2>Survival Outcome</h2>
<div class="col-md-7 col-md-push-5">
    <div class="well">
        <h3>Things to consider</h3>
        <ul>
            <li>A study to compare the hazard ratio between experimental group and standard group</li>
            <li>Requires proportional hazard assumption and non-informative censoring</li>
            <li>Large sample normal inference with unrestricted estimate of standard error will be used to calculate the confidence interval at the analysis stage</li>
        </ul>
        <h3>Things to enter</h3>
        <ul>
            <li><strong>One-sided significance level:</strong> The probability of choosing the alternative hypothesis when the null hypothesis is true (bad decision)</li>
            <li><strong>Target power:</strong> The probability of choosing the alternative hypothesis when the alternative hypothesis is true (good decision)</li>
            <li><strong>Proportion of experimental group in total sample size</strong></li>
            <li><strong>Probability of observing an event in experimental group:</strong> the value should be between 0 and 1</li>
            <li><strong>Probability of observing an event in standard group:</strong> the value should be between 0 and 1</li>
            <li><strong>Non-inferiority margin:</strong> the largest difference in the difference of means that is clinically acceptable</li>
        </ul>
        <h3>Reference</h3>
        <p>S.C. Chow, H. Wang, and J. Shao, Sample Size Calculations in Clinical Research, Second Edition. CRC Press, 2007, p. 174-179</p>
    </div>
</div>
<div class="col-md-5 col-md-pull-7">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="significance-level" class="col-sm-9 control-label">One-sided significance level</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="values.significanceLevel">
                    <option value="0.1">0.1</option>
                    <option value="0.05">0.05</option>
                    <option value="0.025" selected>0.025</option>
                    <option value="0.005">0.005</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="power" class="col-sm-9 control-label">Target power</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="values.power">
                    <option value="0.8">0.8</option>
                    <option value="0.85">0.85</option>
                    <option value="0.9" selected>0.9</option>
                    <option value="0.95">0.95</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Proportion of experimental group in total sample size</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.propExperimentalGroup">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Probability of observing an event in experimental group</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.probEventExperimentalGroup">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Probability of observing an event in standard group</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.probEventControlGroup">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Non-inferiority margin</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="values.niMargin">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <button type="submit" class="btn btn-default btn-block" ng-click="calculate(values)">Calculate</button>
            </div>
        </div>
    </form>
    <div class="well" ng-show="controlGroupSampleSize">
        <p class="text-success">
            <strong>Sample size of standard group: {{controlGroupSampleSize | number:0}}</strong>
        </p>
        <p class="text-success">
            <strong>Sample size of experimental group: {{experimentalGroupSampleSize | number:0}}</strong>
        </p>
        <p class="text-success">
            Under the assumptions of proportional hazard and non-informative
            censoring, a non-inferiority trial is designed to show that a new
            treatment is non-inferior to the standard treatment within a
            non-inferiority margin of {{values.niMargin}} in terms of hazard
            ratio.  {{totalSampleSize | number:0}} subjects in total (of which
            {{experimentalGroupSampleSize | number:0}} are in the new treatment
            group and {{controlGroupSampleSize | number:0}} are in the standard
            treatment group) and {{expectedEvents | number:0}} of event are
            required to achieve {{values.power * 100 | number:0}}% of power at
            a {{values.significanceLevel}} significance level.
        </p>
    </div>
</div>
