<h2>Survival Outcome</h2>
<div class="col-md-7 col-md-push-5">
    <h3>Things to enter</h3>
    <ul>
        <li><strong>One-sided significance level:</strong> The probability of choosing the alternative hypothesis when the null hypothesis is true (bad decision)</li>
        <li><strong>Target power:</strong> The probability of choosing the alternative hypothesis when the alternative hypothesis is true (good decision)</li>
        <li><strong>Proportion of experimental group in total sample size (Prop<sub>C</sub>)</strong></li>
        <li><strong>Proportion of control group in total sample size (Prop<sub>E</sub>)</strong></li>
        <li><strong>Probability of observing an event in experimental group (p<sub>C</sub>)</strong></li>
        <li><strong>Probability of observing an event in control group (p<sub>E</sub>)</strong></li>
        <li><strong>Assumed overall event rate:</strong> the overall probability of observing an event (d = Prop<sub>C</sub> × p<sub>C</sub> + Prop<sub>E</sub> × p<sub>E</sub></strong></li>
        <li><strong>Non-inferiority margin:</strong> "the largest difference that is clinically acceptable"</li>
    </ul>
    <h3>Reference</h3>
    <p>S.C. Chow, H. Wang, and J. Shao, Sample Size Calculations in Clinical Research, Second Edition. CRC Press, 2007, p. 174-179</p>
</div>
<div class="col-md-5 col-md-pull-7">
</div>
